.dv1 {
    height: 80vh;
    background-color: black;
}

.tcustom {
    top: 20px;
    left: 20px;
}

.navbarNav1 {
    height: 25px;
    line-height: 25px;
    padding: 0;
    backdrop-filter: blur(2px), grayscale(20%);
}

/* .navfont {
    font-size: calc(12px + 0.3vw);
    z-index: 5;
} */

.navBgCustom {
    background-color: rgba(20, 19, 19, 0.887);
    /* filter: blur(2px); */
}

.navBgCustom2 {
    filter: blur(2px);
}

.nav-smMode {
    list-style-type: none;
    /* display: flex;
    align-items: center; */
}

.padding0 {
    padding: 0;

}

.fs1 {
    font-size: 12px;
    /* color: white; ???????????????????????????????????????????????*/
}

li {
    padding-left: 15px;
}

.box1-button {
    width: 460px;
    height: 80px;
    /* background-color: bisque; */
}

#button1 {
    width: 182px;
    height: 48px;
    font-size: 17px;
    background-color: black;
    transition: all 250ms linear 100ms;
    color: white;
    font-weight: 500;

}

#button1:hover {
    background-color: white;
    color: black;
}

.fonts1 {
    /* font-size: 56px; */
    font-weight: 700;
    background: -webkit-linear-gradient(0deg, #6a5578 0%, #99bfd8 50%, #41587a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 3vh;
}

.dv2 {
    height: 150px;
    background-color: black;
}

.bg-box2 {
    height: 350px;
    /* width: 100%; */
    overflow: hidden;
    background-image: url("../images/hero_homepod_announce__gmwsq6zqqcya_medium.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1068px 617px;
}

.cpoint {
    cursor: pointer;
}

.box1-part3 {
    color: rgb(110, 110, 115);
    /* font-size: calc(12px + 1vw); */
}

.bluelink {
    text-decoration: none;
    color: #2997ff;
    font-size: 19px;
    padding-left: 30px;
    transition: all 200ms linear 50ms;
}

.bluelink:hover {
    text-decoration: underline;
}

.icon-placement {
    position: relative;
    top: 6px;
}

.custom-devider {
    height: 12px;
}

.box2-h4 {
    color: white;
}

/*--------------------------------------------- video box */
#background-video {
    height: 95vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* .wbox1e {
    width: 32%;
} */

/* .mtbox1e {
    margin-bottom: calc(-2rem + -5px);
} */

.pline1e:hover {
    text-decoration: underline;
}

/* ------------------------------------------------------ */
.goToTop {
    width: 30px;
    height: 30px;
    /* top: 500px;
    right: 20px; */
    border: 2px solid rgba(160, 160, 252, 0.718);
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.266);
    position: fixed;
    z-index: 5;
    text-shadow: 2px 2px 3px rgb(255, 255, 255), -2px -2px 3px rgb(255, 254, 254), 2px -2px 3px white, -2px 2px 3px white;
    transition: all 300ms linear 0s;
}

.tpUp {
    top: 45vh;
    right: 20px;
}

.tpDown {
    top: 55vh;
    right: 20px;
}

.goToTop:hover {
    border: 2px dotted rgba(0, 0, 255, 0.776);
    background-color: rgba(50, 212, 227, 0.568);
    box-shadow: 4px 4px 10px rgb(94, 94, 95);
    width: 38px;
    height: 38px;
    right: 15px;
}


/* ============================================== box21e*/
/* .bgbox21e {
    background-image: url("../images/hero_iphone14pro__e5xbgo5ffhg2_large_2x.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;++++++++++++++++++
} */

/* .picbox31e {
    transform: scale(1.2);
    box-sizing: border-box;
} */

.box31e {
    /* box-sizing: border-box; */
    overflow: hidden;
    height: 99vh;
}

.mtbox31e {
    top: 14vh;
}

.mpbox31e {
    margin-top: -20px;
}

.colbox31e {
    color: #2997ff;
}

.fbox31e {
    font-size: smaller;
}

/* =============================================== */
.bg-box3 {
    height: 350px;
    /* width: 100%; */
    overflow: hidden;
    background-image: url("../images/hero_macmini_preorder__ixuialh97nyq_medium.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1068px 617px;
}

.bg-box4 {
    height: 350px;
    /* width: 100%; */
    overflow: hidden;
    background-image: url("../images/hero_mbp_preorder__caf0s6im2nqq_medium.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1068px 617px;
}

/* -------------------------------------------------------double boxes */

.bg-box5 {
    height: 580px;
    overflow: hidden;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    background-image: url("../images/promo_bhm__d8b9z5rlwjgy_large_2x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1262px 580px;
}

.bg-box6 {
    height: 580px;
    overflow: hidden;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    background-image: url("../images/promo_apple_watch_series_8__ch7rexplmihe_large_2x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1262px 580px;
}

.bg-box7 {
    height: 580px;
    overflow: hidden;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    background-image: url("../images/promo_iphone14pro__4n4twj56fzmu_large_2x1.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1262px 580px;
}

.bg-box8 {
    height: 580px;
    overflow: hidden;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    background-image: url("../images/promo_iphone14__b9mz75yhy02u_large_2x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1262px 580px;
}

.bg-box9 {
    height: 580px;
    overflow: hidden;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    background-image: url("../images/promo__sw58lbodkmqq_large_2x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1262px 580px;
}

.bg-box10 {
    height: 580px;
    overflow: hidden;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    background-image: url("../images/tile__cauwwcyyn9hy_large_2x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1262px 580px;
}

.alice:hover {
    font-size: large;
    color: aqua;
    text-shadow: 2px 2px 2px rgb(251, 3, 255), -2px -2px 2px rgb(0, 34, 255);
}

#red-a {
    text-decoration: none;
}

#red-a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.dv2d {
    /* height: 180px; */
    margin-top: 50px;
}

.img-logo-s {
    width: 32%;
    margin-bottom: 10px;
}

/* .img-logo-s1 {
    width: 25%;
    margin-bottom: 10px;
} */

.letter-s {
    letter-spacing: 1px;
}

.custom-button {
    margin-bottom: 100px;
    margin-left: 50px;
    color: black;

}

.custom-color-nav {
    color: white;
}


.footer-height {
    /* height: 705px; */
}

.ul-prop1 {
    list-style-type: none;
    font-size: 12px;
}

.li-margint {
    margin-top: 10px;
}

.listcustomB2 {
    list-style-type: none;
    font-size: calc(8px + 0.5vw);
}

.listcustomB2 li {
    padding: 4px;
}

.listcustomB2 a {
    text-decoration: none;
    color: rgb(47, 47, 47);
}

.liHover a:hover {
    text-decoration: underline;
}

.listcustomB3 {

    font-size: calc(8px + 0.5vw);
}

.customLocation {
    bottom: 5vh;
    left: 5vw;
    /* z-index: 1; */
}

.customLocation2 {
    bottom: 3.5vh;
    left: 25vw;
    font-size: calc(8px + 0.3vw);
}

.customFs {
    font-size: 12px;
}

.Uline a:hover {
    text-decoration: underline;
}

/* ************************************************************************************************ */
@media all and (max-width: 575px) {
    /* body {
        margin-right: auto;
    } */

    .fonts1 {
        font-size: 38px;
    }

    /* -----------------------------------------double boxes */

    .bg-box5,
    .bg-box7,
    .bg-box9 {

        border-width: 0px 0px 12px 0px;

    }

    .bg-box6,
    .bg-box8,
    .bg-box10 {

        border-width: 0px;

    }

    /* -----------------------------------------------music logo------ */
    .wbox1e {
        width: 80%;
    }

    .mtbox1e {
        margin-bottom: calc(-2rem + -5px);
    }

    /* ---------------------------------------------bg size adjustment single box3 from top */
    .picbox31e {
        transform: scale(1);
        box-sizing: border-box;
    }

    .bgbox21e {
        width: 150%;

    }

    /* --------------------------------------------double box heading fs */
    .heading-property {
        font-size: calc(25px + 1vw);
        text-align: center;
        font-weight: 600;
    }

    .txtshadow {
        text-shadow: 1px 1px 3px #bc1123, -1px 1px 3px #bc1123;
    }

    /* --------------------------------------------red-white logo */
    .img-logo-s1 {
        width: 32%;
        margin-bottom: 10px;
    }

    /* ---------------------------------------------navigation fs */
    .navfont {
        font-size: calc(14px + 0.3vw);
        z-index: 5;
    }

}

@media all and (min-width:576px) and (max-width: 767px) {
    .fonts1 {
        font-size: 42px;
    }

    /* -----------------------------------------double boxes */

    .bg-box5,
    .bg-box7,
    .bg-box9 {

        border-width: 0px 0px 12px 0px;

    }

    .bg-box6,
    .bg-box8,
    .bg-box10 {

        border-width: 0px;

    }

    /* ------------------------------------------------video text----- */
    .wbox1e {
        width: 70%;
    }

    .mtbox1e {
        margin-bottom: calc(-2rem + -15px);
    }

    /* ----------------------------------------------single box3 from top bg adjustment */
    .picbox31e {
        transform: scale(1);
        box-sizing: border-box;
    }

    .bgbox21e {
        background-image: url("../images/hero_iphone14pro__e5xbgo5ffhg2_large_2x.jpg");
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        /* height: 100vh; */
    }

    /* --------------------------------------------double box heading fs */
    .heading-property {
        font-size: calc(30px + 1vw);
        text-align: center;
        font-weight: 600;
    }

    /* --------------------------------------------red-white logo */
    .img-logo-s1 {
        width: 32%;
        margin-bottom: 10px;
    }

    /* ---------------------------------------------navigation fs */
    .navfont {
        font-size: calc(14px + 0.3vw);
        z-index: 5;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .fonts1 {
        font-size: 54px;
    }

    /* ----------------------------------------double boxes */

    .bg-box5,
    .bg-box7,
    .bg-box9 {

        border-width: 0px 6px 0px 12px;

    }

    .bg-box6,
    .bg-box8,
    .bg-box10 {

        border-width: 0px 12px 0px 6px;

    }

    /* --------------------------------------------music video-------- */
    .wbox1e {
        width: 50%;
    }

    .mtbox1e {
        margin-bottom: calc(-2rem + -10px);
    }

    /* ---------------------------------------------bg size adjustment single box3 from top */
    .picbox31e {
        transform: scale(1.1);
        box-sizing: border-box;
    }

    .bgbox21e {
        background-image: url("../images/hero_iphone14pro__e5xbgo5ffhg2_large_2x.jpg");
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        /* height: 100vh; */
    }

    /* --------------------------------------------double box heading fs */
    .heading-property {
        font-size: calc(20px + 1vw);
        text-align: center;
        font-weight: 600;
    }

    /* --------------------------------------------red-white logo */
    .img-logo-s1 {
        width: 32%;
        margin-bottom: 10px;
    }

    /* -------------------------------------------------navbar fs */
    .navfont {
        font-size: calc(9px + 0.3vw);
        z-index: 5;
    }

    .custompad {
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media all and (min-width:992px) and (max-width: 1199px) {
    .fonts1 {
        font-size: 56px;
    }

    /*----------------------------------------------- double boxes */

    .bg-box5,
    .bg-box7,
    .bg-box9 {

        border-width: 0px 6px 0px 12px;

    }

    .bg-box6,
    .bg-box8,
    .bg-box10 {

        border-width: 0px 12px 0px 6px;

    }

    /* -------------------------------------------------music pic video------------ */
    .wbox1e {
        width: 50%;
    }

    .mtbox1e {
        margin-bottom: calc(-3rem + -20px);
    }

    /* -------------------------------------------------single box 3 bg size adjustment */
    .picbox31e {
        transform: scale(1.2);
        box-sizing: border-box;
    }

    .bgbox21e {
        background-image: url("../images/hero_iphone14pro__e5xbgo5ffhg2_large_2x.jpg");
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        /* height: 100vh; */
    }

    /* --------------------------------------------double box heading fs */
    .heading-property {
        font-size: calc(20px + 1vw);
        text-align: center;
        font-weight: 600;
    }

    /* --------------------------------------------red-white logo */
    .img-logo-s1 {
        width: 32%;
        margin-bottom: 10px;
    }

    /* ---------------------------------------------navigation fs */
    .navfont {
        font-size: calc(11px + 0.3vw);
        z-index: 5;
    }
}


@media all and (min-width:1200px) and (max-width: 1399px) {
    .fonts1 {
        font-size: 58px;
    }

    /* -------------------------------------------double boxes */

    .bg-box5,
    .bg-box7,
    .bg-box9 {

        border-width: 0px 6px 0px 12px;

    }

    .bg-box6,
    .bg-box8,
    .bg-box10 {

        border-width: 0px 12px 0px 6px;

    }


    /* -------------------------------------------------video text------ */
    .wbox1e {
        width: 50%;
    }

    .mtbox1e {
        margin-bottom: calc(-3rem + -25px);
    }


    /* ------------------------------------------------------single box3 from top bg adjustment */
    .picbox31e {
        transform: scale(1.2);
        box-sizing: border-box;
    }

    .bgbox21e {
        background-image: url("../images/hero_iphone14pro__e5xbgo5ffhg2_large_2x.jpg");
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        /* height: 100vh; */
    }

    /* --------------------------------------------double box heading fs */
    .heading-property {
        font-size: calc(20px + 1vw);
        text-align: center;
        font-weight: 600;
    }

    /* --------------------------------------------red-white logo */
    .img-logo-s1 {
        width: 32%;
        margin-bottom: 10px;
    }

    /* ---------------------------------------------navigation fs */
    .navfont {
        font-size: calc(12px + 0.3vw);
        z-index: 5;
    }
}

@media all and (min-width:1400px) {
    .fonts1 {
        font-size: 58px;
    }

    /* -------------------------------double boxes */

    .bg-box5,
    .bg-box7,
    .bg-box9 {

        border-width: 0px 6px 0px 12px;

    }

    .bg-box6,
    .bg-box8,
    .bg-box10 {

        border-width: 0px 12px 0px 6px;

    }

    /* .bg-box7 {

        border-width: 0px 6px 0px 12px;

    }

    .bg-box8 {

        border-width: 0px 12px 0px 6px;

    }

    .bg-box9 {

        border-width: 0px 6px 0px 12px;

    }

    .bg-box10 {

        border-width: 0px 12px 0px 6px;

    } */

    /* -------------------------------------------video text */
    .wbox1e {
        width: 32%;
    }

    .mtbox1e {
        margin-bottom: calc(-3rem + -5px);
    }

    /* ------------------------------------------single box3 from top bg adjustment */
    .picbox31e {
        transform: scale(1.2);
        box-sizing: border-box;
    }

    .bgbox21e {
        background-image: url("../images/hero_iphone14pro__e5xbgo5ffhg2_large_2x.jpg");
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        /* height: 100vh; */
    }

    /* --------------------------------------------double box heading fs */
    .heading-property {
        font-size: calc(20px + 1vw);
        text-align: center;
        font-weight: 600;
    }

    /* --------------------------------------------apple card logo */
    .img-logo-s1 {
        width: 32%;
        margin-bottom: 10px;
    }

    /* ---------------------------------------------navigation fs */
    .navfont {
        font-size: calc(12px + 0.3vw);
        z-index: 5;
    }

}